*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:darkgoldenrod;
    position:sticky;
    top:0;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: century;
    margin:50px 0px;
}

.navbar ul{
    display:flex;
    list-style:none;
    margin:25px 5px;

}

.navbar ul li{
    font-family:courier;
    font-size:1.5rem;
    font-weight:bold;
}
.navbar ul li a{
    text-decoration: none;
    color:white;
    padding: 8px 25px;
    transition: all .6s easy;
}
.navbar ul li a:hover{
    background-color: white;
    color:forestgreen;
    box-shadow: 0 0 10px white;
}

#home{
    display:flex;
    flex-direction: column;
    background-color: hsl(hue, saturation, lightness);
    height: 800px; 
    justify-content: center;
    align-items: center;
    color:mediumpurple;
}

#home::before{
    content:"";

    position:absolute;
    top:0;
    right:0;
    background: url("D:\photos\pho\IMGT.jpg") no-repeat center center/cover;
    height:900px;
    width:100%;
    z-index: -1;
    opacity: .7;

}
.main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    position: absolute;
    top: 25%;
    right: 15%;
}
.btn{
    padding: 15px 2px;
    background-color: transparent;
    border: 1px solid white;
    color:greenyellow;
    outline: none;
    transition: .6s easy;
    font-size: 50px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color:black;
    box-shadow: 0 0 5px white, 0 0 10px white,
    0 0 15px white;
    font-weight: bold;

}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;

}
#pic{
    display: flex;
}
#pic img{
    width: 600px;
    height:400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;  
}
 #intro h2{
     font-size: 10px;
     margin-bottom: 20px;
 }
 #portifolio{
     display: flex;
     flex-direction: column;
     background-color: rgb(1,0.5,0.5);
     color:chartreuse
 }
 .gallery{
     display: flex;
     flex-wrap: wrap;
     justify-content:space-around ;
     box-sizing: border-box;

 }
 .gallery img{
     width: 30px;
     height: 250px;
 }
